# Interpretation of the models

I will return to interpretability because Python 3.13 doesn't support the SHAP package

## Explain the Model with **eli5** (Global and Local)

In [12]:
display(X_test.head())

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,education_level,credit_card_limit,age_group,relationship_status
16895,16896,50000.0,1,2,1,45,1,2,0,0,...,0.0,2065.0,1376.0,701.0,705.0,706.0,university,medium,45-54,married
6382,6383,80000.0,2,2,1,30,1,2,0,0,...,0.0,3299.0,2699.0,3000.0,2987.0,3100.0,university,medium,25-34,married
14305,14306,160000.0,1,3,1,42,1,-1,-1,-2,...,1564.0,0.0,0.0,872.0,0.0,0.0,high_school,high,35-44,married
15699,15700,20000.0,1,2,1,31,1,4,3,2,...,0.0,0.0,0.0,1000.0,1000.0,1000.0,university,low,25-34,married
18485,18486,130000.0,2,2,2,26,0,0,0,2,...,6000.0,12600.0,4900.0,5105.0,0.0,5050.0,university,high,25-34,single

In [ ]:
import eli5
from eli5.sklearn import PermutationImportance
from IPython.display import display

# Fit permutation explainer
perm = PermutationImportance(model, random_state=42).fit(X_test, y_test)

# Global feature importance
display(eli5.show_weights(perm, feature_names=X_test.columns.tolist()))

# Local explanation for one row
display(eli5.show_prediction(perm, X_test.iloc[0], feature_names=X_test.columns.tolist()))